pom.xml
pom.xml.asc
/tmp
/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
Icon?
*.jar
*.class
*.swp
*.swo
filetag.sh
filenametags
/.lein-*
/.nrepl-port
*.plist
\#*
\.\#*
logs
.classpath
.project
.settings
